:root {
  /* Светлая тема (значения по умолчанию) */
  --bg: #ffffff;
  --text-color: #333333;
  --text-color2: #ffffff; 
  --menu-item-color: #333333;
  --search-input-bg: #f5f5f5;
  --search-input-text: #333333;
  --hover-bg: #f0f0f0;
  --BgCard-dark:  #123524;
}

/* Темная тема */
.dark-theme {
  --bg:  rgba(31, 31, 31, 1) ;
  --text-color: #ffffff;
  --text-color2: #333333; 
  --menu-item-color: #ffffff;
  --search-input-bg: #2d2d2d;
  --search-input-text: #ffffff;
  --hover-bg: #333333;
  --BgCard-dark: rgba(230, 230, 230, 1);
}


.achievements {
  width: 100%;
  padding: 82.13px 120px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 61.60px;
}

.achievements h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 28.80px;
  margin: 0;
}

.achievements-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 82.13px;
  align-content: flex-start;
}

.achievement-card {
  width: 386.71px;
  min-width: 308px;
  display: flex;
  flex-direction: column;
  gap: 30.80px;
}

.achievement-icon {
  width: 41.07px;
  height: 41.07px;
  position: relative;
  overflow: hidden;
}

.achievement-icon.blue .icon-circle {
  width: 34.65px;
  height: 34.65px;
  position: absolute;
  left: 2.57px;
  top: 2.57px;
  background: #2F57E4;
}

.achievement-icon.green {
  display: flex;
  gap: 16.10px;
}

.achievement-icon.green .icon-square {
  width: 27.38px;
  height: 35.93px;
  background: #3E7B27;
}

.achievement-icon.green .icon-small-square {
  width: 17.11px;
  height: 17.11px;
  background: #3E7B27;
}

.achievement-icon.cyan {
  display: flex;
  gap: 16.10px;
}

.achievement-icon.cyan .icon-rectangle {
  width: 40.26px;
  height: 41.07px;
  background: #00BCDA;
}

.achievement-icon.cyan .icon-text {
  width: 163.66px;
  height: 29.24px;
  background: #00BCDA;
}

.achievement-icon.navy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
}

.achievement-icon.navy .grid-item {
  width: 19.90px;
  height: 19.90px;
  background: #1B5EAC;
  position: relative;
}

.achievement-icon.navy .grid-dot {
  width: 9.81px;
  height: 13.51px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.achievement-content {
  min-width: 205.33px;
  display: flex;
  flex-direction: column;
  gap: 20.53px;
}

.achievement-content h3 {
  color: var(--text-color);
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 28.80px;
  margin: 0;
}

.achievement-content p {
  color: #757575;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 25.20px;
  margin: 0;
} 